.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    height: auto;
    width: auto;
    display: grid;
    /* column and row sizes established in script.js */
}

.etched {
    background-color: black;
}